  <%- include('template/main'); %>
  
<section class="breadcrumb-area">
   
</section><!-- end breadcrumb-area -->

<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
    START ERROR AREA
================================= -->
<section class="error-area padding-top-80px padding-bottom-30px text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="error-content">
                    <div class="section-heading">
                        <h2 class="sec__title mb-3">Halaman Tidak Ditemukan :(</h2>
                    </div><!-- end section-heading -->
                    <div class="btn-box mt-4">
                        <a href="/" class="theme-btn"><i class="la la-reply"></i> Kembali ke beranda</a>
                    </div>
                    <div class="error-img mt-4">
                        <img src="/../media/images/404.jpg" alt="" class="img-fluid">
                    </div>
                </div><!-- end error-content -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end error-area -->
<!-- ================================
    END CTA AREA
================================= -->

<div class="section-block"></div>
<%- include('template/footer'); %>
