
<section class="footer-area padding-top-60px padding-bottom-30px">
    <div class="container">
                <div class="copy-right margin-top-50px padding-top-30px">
                    <ul class="list-items">
                        Made with
                        <span class="la la-heart-o"></span> for Indonesia Better
                    </ul>
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end footer-area -->
<!-- ================================
       START FOOTER AREA
================================= -->

<!-- start back-to-top -->
<div id="back-to-top">
    <i class="fa fa-angle-up" title="Go top"></i>
</div>
<!-- end back-to-top -->

<!-- Template JS Files -->
<script src="/../media/js/jquery-3.4.1.min.js"></script>
<script src="/../media/js/jquery-ui.js"></script>
<script src="/../media/js/popper.min.js"></script>
<script src="/../media/js/bootstrap.min.js"></script>
<script src="/../media/js/owl.carousel.min.js"></script>
<script src="/../media/js/jquery.magnific-popup.min.js"></script>
<script src="/../media/js/isotope-3.0.6.min.js"></script>
<script src="/../media/js/select2.min.js"></script>
<script src="/../media/js/moment.min.js"></script>
<script src="/../media/js/daterangepicker.js"></script>
<script src="/../media/js/purecounter.js"></script>
<script src="/../media/js/jquery.filer.min.js"></script>
<script src="/../media/js/particles.min.js"></script>
<script src="/../media/js/particles-script.js"></script>

<script src="/../media/js/particles-script-2.js"></script>
<script src="/../media/js/smooth-scrolling.js"></script>
<script src="/../media/js/progresscircle.js"></script>
<script src="/../media/js/main.js"></script>
</body>
</html>